<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>

<div layout:fragment="content">
    <main class="container">
        <div class="card mb-3">

            <h1 class="my-highest-header card-header">Login to User Account</h1>

            <div class="card card-body">
                <div>

                    <div class="alert alert-danger" th:if="${param.error}">
                        <h2>Invalid Email or Password</h2>
                    </div>
                    <form th:action="@{/login}" th:object="${user}" method="post">

                        <div class="form-group">
                            <label for="email" class="form-control-label" >Email</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-at"></i>
                                </span>
                                </div>
                                <input type="text" class="form-control"
                                       id="email" name="email" th:field="${user.email}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="control-label" >Password</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock show-password-toggle"></i>
                                </span>
                                </div>
                                <input type="password" class="form-control password my-password-input"
                                       id="password" name="password" th:field="${user.password}"/>
                                <div class="input-group-append">
                                <span class="input-group-text my-append-eye">
                                    <i class="far fa-eye show-password"></i>
                                </span>
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Submit" class="btn btn-info"/>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </footer>

    <!--show password when mouse is over eye icon-->
    <!--demo accounts-->
    <script src="js/main.js"></script>
</div>
</body>
</html>