<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
<div layout:fragment="content">
    <main class="container">
        <div class="card mb-3">

            <h1 class="my-highest-header card-header">Register new User</h1>

            <div class="card card-body">
                <form th:action="@{/register_user}" th:object="${userRegistration}" method="post">
                    <div class="row">

                        <div class="col-sm-9">

                            <div class="form-group">
                                <label for="name" class="form-control-label">Name</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    </div>
                                    <input type="text" class="form-control"
                                           th:field="${userRegistration.name}" id="name" name="name"/>
                                </div>
                                <!--                            <div class="text text-danger"-->
                                <!--                                 th:if="${#fields.hasErrors('name')}" th:errors="${name}"></div>-->
                            </div>

                            <div class="form-group">
                                <label for="email" class="form-control-label">Email</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-at"></i>
                                    </span>
                                    </div>
                                    <input type="text" class="form-control"
                                           th:field="${userRegistration.email}" id="email" name="email"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="form-control-label">Password</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-lock"></i>
                            </span>
                                    </div>
                                    <input type="password" class="form-control password my-password-input"
                                           th:field="${userRegistration.password}" id="password" name="password"/>
                                    <div class="input-group-append">
                                <span class="input-group-text my-append-eye">
                                    <i class="far fa-eye show-password"></i>
                                </span>
                                    </div>
                                </div>
                                <!--                            <div class="text text-danger"-->
                                <!--                                 th:if="${#fields.hasErrors('password')}" th:errors="${password}"></div>-->
                            </div>


                        </div>
                        <div class="col-6 col-sm-3">
                            <div class="card card-body mb-3">
                                <img src="images/admin.png" alt="user photo" class="embed-responsive embed-responsive-3by4">
                                <input type="hidden" class="form-control" id="photo" name="photo"
                                       th:attr="value = ${'images/admin.png'}"/>
                            </div>
                        </div>
                    </div>

                    <input type="submit" value="Submit" class="btn btn-info"/>
                </form>
            </div>
        </div>
    </main>
    <!--show password when mouse is over eye icon-->
    <script src="js/main.js"></script>
</div>
</body>
</html>