<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Edit Task</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('create-new-task')"></th:block> /*/-->
</header>
<div layout:fragment="content">
    <main class="container">
        <div class="card mb-3">

            <h1 class="my-highest-header card-header">Edit Task</h1>

            <div class="card card-body">

                <form th:action="@{task-edit/{id} (id=${singleTask.id})}" th:object="${singleTask}" method="post">
                    <input type="hidden" th:field="${singleTask.id}"/>

                    <!--title-->
                    <div class="form-group">
                        <label for="name" class="form-control-label">Task Title</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-pen"></i></span>
                            </div>
                            <input type="text" class="form-control"
                                   th:field="${singleTask.title}" id="name" name="title"/>
                        </div>
                        <!--                    <div class="text text-danger"-->
                        <!--                         th:if="${#fields.hasErrors('name')}" th:errors="*{name}">-->

                        <!--                    </div>-->
                    </div>

                    <!--description-->
                    <div class="form-group">
                        <label for="description" class="form-control-label">Task description</label>
                        <textarea class="form-control"
                                  th:field="${singleTask.description}" id="description" name="description">  </textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                    <button type="reset" class="btn btn-outline-info pull-right ml-3">Update</button>
                    <a href="/task-edit/{id}" type="reset" class="btn btn-outline-info pull-right ml-3">Cancel</a>
                </form>
            </div>
        </div>
    </main>


    <footer class="footer">
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </footer>
</div>
</body>
</html>